/*RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BASE STYLES */
body {
    font-family: 'Roboto', 'Helvetica', serif;
    background-color: #1F2937;
    min-height: 1000px;
    padding-top: 80px
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    background-color: #1F2937;
    position: fixed;
    width: 100%;
    top: 0;
}

.header-content {
    display: flex;
    align-items: justify;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1250px;
    padding: 0 20px;
    margin: 0 auto;
}

.hero-section-title {
    display: inline-block;
    text-align: left;
}

.logo-img {
    width: 10%;
    height: auto;
    margin-top: 2%;
    display: block;
}

.nav-bar {

}

.nav-list {
    display: flex;
    column-gap: 40px;
    padding: 2vw;
}

.nav-item {

}

.nav-link{
    color: #E5E7EB;
    transition: all 0.2s;
}

.nav-link:hover,
.nav-link:focus { 
    color: #3882F6;
}


/* HERO SECTION */

.hero-container{
    display:flex;
    flex: 1;
    flex-direction: row;

}

.hero-section {
    padding: 5vw;
    align-items: flex-start;
    justify-content: space-between;
    width:100%;
}

.hero-section-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    text-wrap: wrap;
    padding: auto;
    margin: 10px 0 10px 0;

    
}

.hero-section-subtitle {
    font-size: 18px;
    color: #E5E7EB;
    text-wrap: wrap;
    padding: auto;
    margin: 10px 0 10px 0;


}

.hero-section-button {
    background-color: #3882F6;
    border-radius: 10px;
    border-style: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    padding: 10px 16px;
    margin: 10px 0 10px 0;


}

.hero-section-image {
    max-width: 250px; 
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    margin: 40px;

}


/* RANDOM INFO SECTION */

.random-section {
    background-color: #FFFFFF;
    padding: 5vw;
}
  
  .random-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin-top: 5vw;
    padding-bottom: 5vw;
  }
  
  h1 {
    text-align: center;
    color: #222;
    font-size: 2.2rem;
    margin-bottom: 50px;
  }
  
  .random-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-placeholder {
    width: 100%;
    aspect-ratio: 1;
    border: 2px solid #3377ff;
    border-radius: 16px;
  }
  
  .random-items p {
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
  }


/* INSPIRING QUOTE SECTION */
.inspiring-quote-section {
    padding: 15vw;
    background-color: #E5E7EB;
}

.quote-content {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.quotationist {
    padding: 5vw;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-align: end;
}

.inspiring-quote {
    font-size: 26px;
    color: #1F2937;
    font-weight: 600;
    font-style: italic;
}


/*CALL TO ACITON SECTION*/

.cta-section {
    background-color: white;
    padding: 10vw;
}

.cta-banner {
    background-color: #3b82f6;
    color: white;
    padding: 40px 100px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr auto ;
    align-items: center;
  }
  
  .cta-content h2 {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
  }
  
  .cta-content p {
    margin: 0;
    font-size: 16px;
    font-weight: 100;
  }
  
  .cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 40px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  

/*FOOTER*/
footer {
    background-color: #1F2937;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 100;

}


/* MEDIA QUERIES */
@media (max-width: 650px){
    .header-content {
        flex-direction: row;
        align-items: right;
        height: 0;
        row-gap: 18px
        margin: 20px;   
    }

    .logo-img {
        min-width: 20%;
    }

}
